.right{
    float: right!important;
}

#report-modal .form-report-content{
    width: 100%;
    max-width: 100%;
    font-size: 2rem;
    border: none;
    line-height: 16px;
    background-color: transparent;
    padding: 13px 0 13px;
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: auto;
}
#report-modal .form-report-title{
    font-size: 2.6rem;
    border: none;
    line-height: 2.3rem;
    background-color: transparent;
    padding: 3px 0 13px;
    box-shadow: none;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: auto;
}
#report-modal .modal-title img{
    border-radius: 50%;
}
#report-modal .modal-title a{
    text-decoration: none;
}
#report-modal .modal-title a:hover{
    text-decoration: none;
}

#report-modal .filter-option{
    font-size: 0.78em;
    color: #6F6E6E;
}

#report-container{

}

#report-container .report-item{
    min-height: 100px;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    border: solid 1px #B4B7BB;
    border-radius: 6px;
}

.report-header a{
    text-decoration: none;
}

.report-header a:hover{
    text-decoration: none;
}

.report-header a img{
    border-radius: 50%;
}

.report-header .dropdown-menu{
    left: auto;
    top: 26px;
    right: 18px;
}

.report-menu{
    float: right;
    cursor: pointer;
}


.report-content-container{
    padding: 20px;
}

.report-content-container .panel-body a:hover{
    text-decoration: none;
}

.report-content-container .report-header .dropdown-menu{
    left: auto;
    top: 172px;
    right: 110px;
}

#EditReportModal{
    display: block;
}