{% extends 'admin/layouts/base.html' %}
{% load staticfiles %}
{% block content %}

    <h1>Create course</h1>
    <form id="course_form" action="" method="POST">
        {% csrf_token %}
        <div class="name form-group static required">
            <label>Name</label>
            {{ form.name }}
            {% if form.name.errors %}
                <span class="text-danger">
                    {% for error in form.name.errors %}{{ error }}{% endfor %}
                </span>
            {% endif %}
        </div>
        <div class="description form-group static required">
            <label>Description</label>
            {{ form.description }}
            {% if form.description.errors %}
                <span class="text-danger">
                    {% for error in form.description.errors %}{{ error }}{% endfor %}
                </span>
            {% endif %}
        </div>
        <div class="status form-group static required">
            <label>Status</label>
            {{ form.status }}
        </div>
        <div class="status form-group static required">
            <label>Supervisors</label>
            {{ form.supervisors }}
        </div>
        <button type="submit" class="btn btn-primary" id="update-course">Create</button>
    </form>
{% endblock %}
{% block js %}
    <script src="{% static 'js/bootstrap-select.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.selectpicker').selectpicker({
              style: 'btn-default',
              size: 4
            });
        })
    </script>
{% endblock %}
{% block css %}
    <link href="{% static 'css/bootstrap-select.min.css' %}" rel="stylesheet">
{% endblock %}
