{% extends 'layouts/base.html' %}

{% block 'css' %}
{% endblock %}

{% block content %}
<div id="content">
    <div class="col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">
        <div class="panel panel-default text-center paper-shadow" data-z="0.5">
            <h1 class="text-display-1">Create account</h1>

            <div class="panel-body">
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group form-control-material">
                                <input type="email" class="form-control" id="exampleInputFirstName"
                                       placeholder="Your first name">
                                <label for="exampleInputFirstName">First name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-control-material">
                                <input type="email" class="form-control" id="exampleInputLastName"
                                       placeholder="Your last name">
                                <label for="exampleInputLastName">Last name</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group form-control-material static required">
                        <input type="email" class="form-control" id="exampleInputEmail1"
                               placeholder="Enter email">
                        <label for="exampleInputEmail1">Email address</label>
                    </div>
                    <div class="form-group form-control-material static required">
                        <input type="password" class="form-control" id="exampleInputPassword1"
                               placeholder="Password">
                        <label for="exampleInputPassword1">Password</label>
                        {% if form.password1.errors %}
                        <div class="input-group text-danger">
                            <div class='form-errors '>
                                {% for error in form.password1.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Create an Account</button>
                    </div>
                    <br>
                    <a href="{% url 'users:login' %}" class="link-text-color">Have a account? Login</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block 'js' %}
{% endblock %}